<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<servlet>
		<servlet-name>loginserv</servlet-name>
		<servlet-class>upmc.stl.aar.servlet.Login</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>DailyCredit</servlet-name>
		<servlet-class>upmc.stl.aar.servlet.DailyCredit</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>CreateNewBet</servlet-name>
		<servlet-class>upmc.stl.aar.servlet.CreateBet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>DailyGain</servlet-name>
		<servlet-class>upmc.stl.aar.servlet.DailyGain</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>getCurrencies</servlet-name>
		<servlet-class>upmc.stl.aar.servlet.GetCurrencies</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>getCurrenciesCron</servlet-name>
		<servlet-class>upmc.stl.aar.servlet.GetCurrenciesCron</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>calculategain</servlet-name>
		<servlet-class>upmc.stl.aar.servlet.CalculateBetGainCron</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>loginserv</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>DailyCredit</servlet-name>
		<url-pattern>/cron/DailyCredit</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>DailyGain</servlet-name>
		<url-pattern>/DailyGain</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>CreateNewBet</servlet-name>
		<url-pattern>/new</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>getCurrencies</servlet-name>
		<url-pattern>/getCurrencies</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>getCurrenciesCron</servlet-name>
		<url-pattern>/cron/getCurrenciesCron</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>calculategain</servlet-name>
		<url-pattern>/cron/calculategain</url-pattern>
	</servlet-mapping>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>cron</web-resource-name>
			<url-pattern>/cron/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<!-- security-constraint> <web-resource-collection> <url-pattern>/cron/*</url-pattern> 
		</web-resource-collection> <auth-constraint> <role-name>admin</role-name> 
		</auth-constraint> </security-constraint -->

</web-app>
